<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%= @user.email %></h1>
    <p>
      Your ninja <font color="green"><%= @ninja.name %></font> has been successfully updated.<br>
      If it was not you on the account, please reset your password !<br>
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>